@model IEnumerable<Replacement>
@foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
{
    <div class="alert alert-danger">@error.ErrorMessage</div>
}
<a asp-controller="Replacement" asp-action="Create">Request for replacement</a>
<table class="table table-striped table-hover">
    <thead>
    <tr>
        <th>@Html.DisplayNameFor(model => model.RequestRime)</th>
        <th>Teacher Sent</th>
        <th>@Html.DisplayNameFor(model => model.Schedule)</th>
        <th>@Html.DisplayNameFor(model => model.TeacherApprove)</th>
        <th>@Html.DisplayNameFor(model => model.Status)</th>
    </tr>
    <tr></tr>
    </thead>
    <tbody>
    @if (Model.Any())
    {
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.RequestRime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Schedule.Teacher.Name)
                    @Html.DisplayFor(modelItem => item.Schedule.Teacher.Surname)
                </td>
                <td>
                    <div class="dropdown">
                        <a class="btn btn-secondary dropdown-toggle" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                            Schedule
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <li><span class="dropdown-item"><b>Teacher:</b> @item.Schedule?.Teacher?.Name @item.Schedule?.Teacher?.Surname</span></li>
                            <li><span class="dropdown-item"><b>Course:</b> @item.CourseTopic?.Course?.Name</span></li>
                            <li><span class="dropdown-item"><b>Topics:</b>@item.CourseTopic?.Topic?.Name</span></li>
                            <li><span class="dropdown-item"><b>Time:</b> @item.Schedule?.StartTime - @item.Schedule?.EndTime</span></li>
                            <li><span class="dropdown-item"><b>Day:</b> @item.Schedule?.WeekDays?.Name</span></li>
                        </ul>
                    </div>
                </td>
                <td>
                    @if (item.ApprovedById == null)
                    {
                        <span>Not approved</span>
                        <a class="btn btn-primary" asp-controller="Replacement" asp-action="Approve" asp-route-id="@item.Id">Approve</a>
                    }
                    else
                    {
                        <p>@item.TeacherApprove?.Name</p>
                        <p>@item.TeacherApprove?.Surname</p>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
            </tr>
        }
    }
    else
    {
        <p>No replacements available at the moment.</p>
    }

    </tbody>
</table>