@model TeachSyncApp.ViewModels.ScheduleViewModel

<h1>Create Schedule</h1>

<form asp-action="Create" method="post">
    @Html.AntiForgeryToken()
    @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
    {
        <div class="alert alert-danger">@error.ErrorMessage</div>
    }

    <div class="form-group">
        <label class="control-label">Day of Week</label>
        <select name="DayOfWeekId" class="form-control">
            @foreach (var day in Model.DayOfWeekList)
            {
                <option value="@day.Id">@day.Name</option>
            }

        </select>
        <span asp-validation-for="DayOfWeekId" class="text-danger"></span>
    </div>

    <input type="hidden" asp-for="TeacherId" />

    <div class="form-group">
        <label class="control-label">Classroom</label>
        <select name="ClassRoomId" class="form-control">
            @foreach (var classroom in Model.ClassRoomList)
            {
                <option value="@classroom.Id">@classroom.Name</option>
            }
        </select>
        <span asp-validation-for="ClassRoomId" class="text-danger"></span>
    </div>

    <input type="hidden" asp-for="GroupCourseList" />

    <div class="form-group">
        <label asp-for="StartTime" class="control-label">Start Time</label>
        <input asp-for="StartTime" class="form-control" type="time" />
        <span asp-validation-for="StartTime" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="EndTime" class="control-label">End Time</label>
        <input asp-for="EndTime" class="form-control" type="time" />
        <span asp-validation-for="EndTime" class="text-danger"></span>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Create Schedule</button>
    </div>
</form>

<div>
    <a asp-action="Index">Back to list</a>
</div>
