@model TeachSyncApp.ViewModels.ScheduleViewModel

<form asp-action="Edit" method="post">
    <div class="form-group">
        <label asp-for="StartTime" class="form-label"></label>
        <input asp-for="StartTime" class="form-control" type="time"/>
        <span asp-validation-for="StartTime" class="text-danger"></span>
    </div>
    <div class="form-group mt-3">
        <label asp-for="EndTime" class="form-label"></label>
        <input asp-for="EndTime" class="form-control" type="time"/>
        <span asp-validation-for="EndTime" class="text-danger"></span>
    </div>
    <div class="form-group mt-3">
        <label class="form-label">Teacher</label>
        <select asp-for="TeacherId" class="form-control">
            @foreach (var item in ViewBag.Users){
                <option value="@item.Value">@item.Text</option>
            }

        </select>
        <span asp-validation-for="TeacherId" class="text-danger"></span>
    </div>
    <div class="form-group mt-3">
        <label class="form-label">Classroom</label>
        <select asp-for="ClassRoomId" class="form-control">
            @foreach (var item in ViewBag.ClassRoom){
                <option value="@item.Value">@item.Text</option>
            }
        </select>
        <span asp-validation-for="ClassRoomId" class="text-danger"></span>
    </div>
    <div class="form-group mt-3">
        <label class="form-label">Day of week</label>
        <select asp-for="DayOfWeekId" class="form-control">
            @foreach (var item in ViewBag.WeekDay){
                <option value="@item.Value">@item.Text</option>
            }
        </select>
        <span asp-validation-for="DayOfWeekId" class="text-danger"></span>
    </div>
    <div class="form-group mt-3">
        <label class="form-label">GroupCourse</label>
        <select asp-for="GroupCourseId" class="form-control">
            @foreach (var item in ViewBag.GroupCourse){
                <option value="@item.Value">@item.Text</option>
            }
        </select>
        <span asp-validation-for="GroupCourseId" class="text-danger"></span>
    </div>

    

    <button type="submit" class="btn btn-primary">Save</button>
    <a asp-action="Index" class="btn btn-secondary">Back to schedule</a>
</form>