@model IEnumerable<Courses>
@using TeachSyncApp.Models.intermediateModels

<a asp-controller="Course" asp-action="Create" class="p-2">Create new Course</a>
<table class="table table-striped table-hover">
    <thead>
    <tr>
        <th>@Html.DisplayNameFor(model => model.Name)</th>
        <th>@Html.DisplayNameFor(model => model.Description)</th>
        <th>@Html.DisplayNameFor(model => model.TeacherId)</th>
        <th>@Html.DisplayNameFor(model => model.CoursesTopics)</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @if (item.User != null)
                {
                    @($"{item.User.Name} {item.User.Surname}")
                }
                else
                {
                    <p>no teacher</p>;
                }
            </td>
            <td>
                @if (item.CoursesTopics.Any())
                {
                    <ul>
                        @foreach (var courseTopic in item.CoursesTopics)
                        {
                            <li>@courseTopic.Topic.Name</li>
                        }
                    </ul>
                }
                else
                {
                    <p>No topics assigned</p>
                }
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Details</a>
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
            </td>
            <td>
                <a asp-controller="CourseTopic" asp-action="CreateGet" asp-route-id="@item.Id">Create Topic</a>
            </td>            
            <td>
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>

        </tr>
    }
    </tbody>
</table>